* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-top: 1rem;

  overflow: hidden;

  margin: 0;
  vertical-align: baseline;

  color: rgb(219,232,212);
  background-image: linear-gradient(
    180deg,
  hsl(224deg 20% 23%) 2%,
  hsl(224deg 20% 22%) 24%,
  hsl(224deg 20% 22%) 31%,
  hsl(224deg 20% 21%) 37%,
  hsl(223deg 20% 21%) 41%,
  hsl(223deg 20% 21%) 44%,
  hsl(223deg 20% 20%) 47%,
  hsl(223deg 20% 20%) 50%,
  hsl(222deg 20% 20%) 52%,
  hsl(222deg 20% 19%) 54%,
  hsl(221deg 20% 19%) 56%,
  hsl(221deg 20% 18%) 57%,
  hsl(221deg 20% 18%) 59%,
  hsl(221deg 20% 18%) 61%,
  hsl(221deg 20% 18%) 63%,
  hsl(221deg 20% 18%) 64%,
  hsl(222deg 20% 18%) 66%,
  hsl(222deg 20% 17%) 68%,
  hsl(222deg 20% 17%) 71%,
  hsl(222deg 20% 17%) 74%,
  hsl(222deg 20% 17%) 78%,
  hsl(222deg 20% 17%) 83%,
  hsl(222deg 20% 17%) 99%
  );
}

a {
  color: inherit;
  text-decoration: none;
}

span {
  display: flex;
  justify-content: center;
  color: red;
  font-size: .7rem;
  width: 100%;
}

input {
  width: 8rem;
}

select {
  width: 8rem;
}

h1 {
  font-family: 'Josefin Sans',sans-serif;
}

.chart-container {
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  row-gap: 1rem;

  margin-top: 2rem!important;
  margin-bottom: 2rem!important; 
}

.form-input {
  display: flex;
  flex-direction: column;
}

.subtitle-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  align-self: flex-start;
}

.subtitle-container h3{
  font-size: 1rem;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 33%;
}

.main-section h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.main-section * {
  margin: 0;
  padding: 0;
}